.section {
  padding-block: 64px;
}

@media (max-width: 767px) {
  .section {
    padding-block: 48px;
  }
}

.imageWrap {
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 1199px) {
  .imageWrap {
    margin-top: 30px;
  }
}
