@forward "components/theme";
@forward "components/buttons";
@forward "components/preloader";
@forward "components/background";
@forward "components/offcanvas";
@forward "components/breadcrumb";
@forward "components/scroll-top";
@forward "components/section-title";
@forward "components/mobile-menu";
@forward "components/animation";
@forward "components/search";
@forward "components/minicart";
@forward "components/spacing";
@forward "components/nice-select";
@forward "layout/about";
@forward "layout/header";
@forward "layout/hero";
@forward "layout/video";
@forward "layout/team";
@forward "layout/banner";
@forward "layout/text";
@forward "layout/schedule";
@forward "layout/brands";
@forward "layout/tickets";
@forward "layout/blog";
@forward "layout/map";
@forward "layout/footer";
@forward "layout/countdown";
@forward "layout/counter";
@forward "layout/price";
@forward "layout/location";
@forward "layout/cta";
@forward "layout/feature";
@forward "layout/testimonial";
@forward "layout/gallery";
@forward "layout/venue";
@forward "layout/product";
@forward "layout/cart";
@forward "layout/checkout";
@forward "layout/login";
@forward "layout/contact";
@forward "layout/postbox";
@forward "layout/faq";
@forward "layout/cetagory";

/* CUSTOM STYLES */
.red-border {
  border: 2px solid red;
}

.hover-color-secondary {
  &:hover {
    color: #f248b4 !important;
  }
}
.my-link {
  color: #f248b4 !important;
  background-image:
    linear-gradient(currentColor, currentColor),
    linear-gradient(currentColor, currentColor);
  background-size:
    0 2px,
    0 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
  -webkit-transition: all 0.4s ease 0.3s 0s ease-out;
  -moz-transition: all 0.4s ease 0.3s 0s ease-out;
  -ms-transition: all 0.4s ease 0.3s 0s ease-out;
  -o-transition: all 0.4s ease 0.3s 0s ease-out;
  transition: all 0.4s ease 0.3s 0s ease-out;
  color: var(--td-common-white);
}
.my-link:hover {
  background-image:
    linear-gradient(currentColor, currentColor),
    linear-gradient(currentColor, currentColor);
  background-size:
    0 2px,
    100% 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
  -webkit-transition: all 0.4s ease 0.3s 0s ease-out;
  -moz-transition: all 0.4s ease 0.3s 0s ease-out;
  -ms-transition: all 0.4s ease 0.3s 0s ease-out;
  -o-transition: all 0.4s ease 0.3s 0s ease-out;
  transition: all 0.4s ease 0.3s 0s ease-out;
}
textarea {
  height: auto;
  min-height: 56px;
  line-height: 1.5;
}
textarea,
select {
  border: solid 1px #d8d2fc;
  border-radius: 8px;
}

select:focus,
input:focus,
textarea:focus {
  border-color: #5033ff !important;
}

.td-venue-thumb {
  position: relative;
  overflow: hidden;
}

.td-venue-bg-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(27, 1, 102, 0.6);
  z-index: 0;
}
